[ml2_ansible]

# backend to use for tooz coordination
coordination_uri = etcd://127.0.0.1:2379


#########
#
# Inventory definitions
# THIS IS NOT AN ANSIBLE INVENTORY FILE!
# These sections DO NOT adhere to ansible inventory structure
# *** Please read carefully ***
#
# - ansible:port_mappings is a a reserved section for mapping compute service
#   hosts to physical switches. The key is the host name that the neutron port
#   object will return from HOST_ID when created. The value is a switch name
#   defined in a subsequent ansible:switch_name section and a port name
#   separated from the switch name by a double colon (::). A single colon (:)
#   can be used in naming ports. For SRIOV DIRECT port attachments append the
#   PCI address to the HOST_ID, without the colon (:) separator. OSLO config
#   will use a colon (:) as a separator for the key and value and therfore must
#   be omitted in the {HOST_ID}-{SRIOV_PCI_PORT} naming convention.
# - All other sections represents a switch ansible will configure.
#   the 'ansible:' tag will be stripped out and the rest of the section name
#   is used as switch_name. switch_name cannot contain a :
# - The variables in each section will be passed directly to the inventory file
#   ansible will use. The variables you can use here are defined by ansible.
#   If you uses an ansible host variable that is not represented here but
#   is supported by the installed version of ansible then the variable should
#   work as defined by ansible
# - Non-ansible variables used only by net-ansible
#   * manage_vlans :: Default: True
#     Defines whether to create and delete vlans on the switch.
# - Extra Parameters
#   These are standardized parameters used by the network_runner ansible roles
#   * stp_edge :: Default: False
#     Enable spanning tree protocol on ports
# - Custom parameters are collected and passed directly to the ansible role
#   for the platform being configured. These parameters are denoted by the
#   prefix cp_ which is stripped off before passed to the ansible role.
#
#########
[ansible:port_mappings]
compute1_host_name = vyos118_rack_A::switch_port_name,openswitch230_rack_23::switch_port_name
compute2_host_name = openswitch230_rack_23::switchport_name
compute2_host_name-370b = openswitch230_rack_23::port_y

[ansible:vyos118_rack_A]
ansible_network_os=vyos
ansible_host=1.2.3.4
ansible_user=ansible
ansible_ssh_pass=password
stp_edge=True

[ansible:openswitch230_rack_23]
ansible_network_os=openswitch
ansible_host=5.6.7.8
ansible_user=ansible
ansible_ssh_pass=password
manage_vlans=False

[ansible:custom_platform]
ansible_network_os=custom
ansible_host=5.6.7.8
ansible_user=ansible
ansible_ssh_pass=password
cp_myparam=myvalue
cp_myparam2=myothervalue
